/*My fonts*/
@import url(fonts.css);

html {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

ul, li {
    padding: 0;
    margin: 0;
}

/**
Header start
**/

.header {
    background: #fff;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.in_header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    position: relative;
}

.student-name {
    width: 225px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.04em;
    color: #000000;
    text-transform: uppercase;
}

.button_all {
    position: absolute;
    width: 50px;
    top: 25px;
    right: 10px;
    display: none;
    cursor: pointer;
}

.button_item {
    height: 5px;
    background: #000;
    margin-bottom: 10px;
}

.header_menu_list {
    display: flex;
    list-style-type: none;
}

.header_menu_link {
    margin-right: 60px;
}

.header_menu_link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.header_menu_link a:hover {
    padding-right: 20px;
    border-bottom: 4px solid rgba(94, 94, 94, 0.596);
    transition: .2s;
    animation-duration: 2s;
}


/**
creepy-block start
**/

.creepy-block {
    background: url(../photo/img_creepy-block.jpg), url(../photo/lighting_creepy-block.png);
    height: 650px;
    background-position: 0% 50%, 100% 5%;
    background-size: 650px, 260px;
    background-repeat: no-repeat;
    background-color: #040410;
}

.in_creepy-block {
    display: flex;
    position: relative;
}

.creepy-block_description {
    color: #FFFFFF;
    width: 380px;
    height: 90px;
    position: absolute;
    top: 190px;
    right: 90px;
}

.creepy-block_description_title {
    font-family: 'HARDBOR', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 160%;
    margin-bottom: 35px;
}

.creepy-block_description_text1, .creepy-block_description_text2 {
    font-family: 'Blade 2RUS', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
}

.creepy-block_description_text1 {
    margin-bottom: 25px;
}


/**
fun-block start
**/

.fun-block {
    padding: 155px 0 400px;
    background-image: url(../photo/fun-block_dog_1.png), url(../photo/fun-block_dog_2.png), url(../photo/fun-block_dog_3.png);
    background-position: 0% 100%, 50% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.fun-block_title {
    font-family: "Art Nuveau-Cafe", sans-serif;
    font-weight: 800;
    font-size: 70px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.fun-block_description {
    font-family: 'Pudelina', sans-serif;
    max-width: 535px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
}

/**
evil-block start
**/

.evil-block {
    position: relative;
    padding: 165px 0;
    background-image: url(../photo/evil-block_angryman_1.png), url(../photo/evil-block_angryman_2.png), url(../photo/evil-block_angryman_3.png);
    background-position: 50% -35%, 86% 115%, 100% -50%;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #AD4220;
}

.evil-block_description-title {
    font-family: 'Bleeding CowboysRUS', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 368px;
    margin-bottom: 35px;
}

.evil-block_description-text1, .evil-block_description-text2 {
    font-family: 'Brandley', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 160%;
    max-width: 405px;
}

.evil-block_description-text2 {
    margin-top: 25px;
}

/**
romantic-block start
**/

.romantic-block {
    padding: 140px 0;
    background-image: url(../photo/romantic-block_plant_left.png), url(../photo/romantic-block_plant_right.png);
    background-position: -1% 103%, 100% -20%;
    background-repeat: no-repeat;
    background-size: 101px 303px, 190px 320px;
    background-color: #fff;
}

.in_romantic-block {
    display: flex;
    justify-content: space-between;
}

.romantic-block_description {
    margin: 42px 40px 0 0;
    max-width: 425px;
    color: #484848;
}

.romantic-block_description-title {
    font-family: 'Nekomancer ATH 0.3', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.romantic-block_description-text1, .romantic-block_description-text2 {
    font-family: 'notperfect regular', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
}

.romantic-block_description-text2 {
    margin-top: 27px;
}

.romantic-block_description-images {
    display: flex;
}

.romantic-block_description-images1 {
    margin-right: 63px;
    margin-left: 45px;
}

.romantic-block_description-images2 {
    margin-top: 67px;
}

/**
romantic-block end
**/

/**
bussines-block start
**/

.business-block {
    background-image: url(../photo/business-block_bg.png);
    height: 650px;
    background-size: 593px;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #44484A;
}

.in_business-block {
    position: relative;
}

.business-block_description {
    position: absolute;
    right: -15px;
    top: 180px;
}

.business-block_description_title {
    font-family: 'PT Serif', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    margin-bottom: 60px;
}

.business-block_description_text-part1 {
    display: flex;
}

.business-block_description_text1 {
    margin-right: 32px;
}

.business-block_description_text1, .business-block_description_text2 {
    font-family: 'Columbia Print Cyrilic', sans-serif;
    max-width: 269px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.business-block_description_text-part2 {
    font-family: 'PT Serif', sans-serif;
    max-width: 510px;
    height: 52px;
    display: flex;
}

.business-block_description_text3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    font-style: italic;
    margin-top: 44px;
}

.business-block_description_symbol {
    font-weight: 900;
    font-size: 45px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 10px;
}

/**
bussines-block end
**/

/**
footer-block start
**/

.footer_remark {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4D4D4D;
}

/**
footer-block end
**/